In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('CarRentalDataV1.csv', sep=',')

In [34]:
df['vehicle.year'] = df['vehicle.year'].astype('int64')

In [35]:
df.head()

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year,airportcity
0,ELECTRIC,5.00,13.0,12.0,Seattle,US,47.449107,-122.308841,WA,12847615.0,135.0,Tesla,Model X,suv,2019,Albuquerque
1,ELECTRIC,5.00,2.0,1.0,Tijeras,US,35.111060,-106.276551,NM,15621242.0,190.0,Tesla,Model X,suv,2018,Albuquerque
2,HYBRID,4.92,28.0,24.0,Albuquerque,US,35.127163,-106.566681,NM,10199256.0,35.0,Toyota,Prius,car,2012,Albuquerque
3,GASOLINE,5.00,21.0,20.0,Albuquerque,US,35.149726,-106.711425,NM,9365496.0,75.0,Ford,Mustang,car,2018,Albuquerque
4,GASOLINE,5.00,3.0,1.0,Albuquerque,US,35.208659,-106.601008,NM,3553565.0,47.0,Chrysler,Sebring,car,2010,Albuquerque

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fuelType            5776 non-null   object
 1   rating              5350 non-null   float64
 2   renterTripsTaken    5851 non-null   float64
 3   reviewCount         5851 non-null   float64
 4   location.city       5851 non-null   object
 5   location.country    5851 non-null   object
 6   location.latitude   5851 non-null   float64
 7   location.longitude  5851 non-null   float64
 8   location.state      5851 non-null   object
 9   owner.id            5851 non-null   float64
 10  rate.daily          5851 non-null   float64
 11  vehicle.make        5851 non-null   object
 12  vehicle.model       5851 non-null   object
 13  vehicle.type        5851 non-null   object
 14  vehicle.year        5851 non-null   float64
 15  airportcity         5851 non-null   object
dtypes: float64(8), object(8)
memory usage: 731.5+ KB

In [36]:
df.dropna(inplace=True)

In [40]:
import random
import datetime

city_state_office = {list(df['location.city'])[i]:list(df['location.state'])[i] for i in range(1,101)}

rental_office = pd.DataFrame(
                        data={
                            "office_id": list(range(1,101)),
                            "city": list(df['location.city'])[:100],
                            "state_name": list(df['location.state'])[:100],
                            "zip_code": random.choices(list(range(10000,99999)), k=100),
                        }
                    )



available_cars = pd.DataFrame(
                        data={
                            "car_id": list(range(1,5001)),
                            "current_office_id": random.choices(list(range(1,101)), k=5000),
                            "car_name": list(df['vehicle.model'][:5000]),
                            "car_type": list(df['vehicle.type'][:5000]),
                            "fuel_type":  list(df['fuelType'][:5000]),
                            "model": list(df['vehicle.make'][:5000]),
                            "model_year": list(df['vehicle.year'][:5000])
                        }
                    )


city_state_customer = {list(df['location.city'])[i]:list(df['location.state'])[i] for i in range(1,3000)}
names = ['Will', 'Ana', 'John', 'Debbie', 'Ron', 'Pam', 'Dwight', 'Sara']
last_names = ['Henry', 'Scott', 'Moctezuma', 'Lenin', 'Asis', 'Wright', 'Drinkwater', 'Simpson']

customers = pd.DataFrame(
                        data={
                            "customer_id": list(range(1,3001)),
                            "first_name": [names[i] for i in random.choices(list(range(1,8)), k=3000)],
                            "last_name": [last_names[i] for i in random.choices(list(range(1,8)), k=3000)],
                            "city": list(df['location.city'])[:3000],
                            "state_name": list(df['location.state'])[:3000],
                            "phone_number": random.choices(list(range(10000000,99999999)), k=3000),
                            "registration_date": [datetime.date(year=2019, month=i, day=7) for i in random.choices(list(range(1,13)), k=3000)]
                        }
                    )

customers['email'] = customers['first_name'].str.lower() + '_' + customers['last_name'].str.lower() + '@mail.com'

customers = customers.reindex(columns=["customer_id", "first_name", "last_name", "city", "state_name", "phone_number", "email", "registration_date"])


aux_l = []
counter = 1
for car in list(range(1,5001)):
    res = random.randint(10,100)
    tmp_date = datetime.datetime(year=random.randint(2020,2021), month=random.randint(1,12), day=random.randint(1,28), hour=random.randint(0,23))
    for r in range(res):
        aux_d = {}
        aux_d["rented_id"] = counter
        aux_d["customer_id"] = random.randint(1,3000)
        aux_d["car_id"] = car
        aux_d["pickup_office_id"] = random.randint(1,100)
        aux_d["return_office_id"] = random.randint(1,100)
        aux_d["pickup_date"] = tmp_date
        tmp_date = tmp_date + datetime.timedelta(hours=random.randint(10,200))
        aux_d["return_date"] = tmp_date
        aux_d["booked_date"] = tmp_date - datetime.timedelta(days=random.randint(1,8))
        counter = counter + 1

        aux_l.append(aux_d)

rented = pd.DataFrame.from_dict(aux_l)
rented = rented.reindex(columns=["rented_id", "customer_id", "car_id", "booked_date", "pickup_office_id", "pickup_date", "return_office_id", "return_date"])

rental_office.to_csv("rental_office.csv", index=False)
available_cars.to_csv("available_cars.csv", index=False)
customers.to_csv("customers.csv", index=False)
rented.to_csv("rented.csv", index=False)
print("Dummy data created and saved!")

Dummy data created and saved!